.form{
  display:flex;
  flex-direction: column;
gap:10px;
padding: 20px;
}

label{
  font-weight:bold;
  font-size:20px;
}

textarea{
  /* display:flex;
  align-items:center;
  justify-content: center; */
  width: 400px;
  height: 70px;
}

input{
  height:30px;
  width: 200px;
}

button{
  margin-top:25px;
  margin-left:20px;
  padding: 10px;
}

.section{
  background: rgb(9,9,7);
  background: linear-gradient(12deg, rgba(9,9,7,1) 0%, rgba(111,65,46,1) 61%, rgba(244,65,3,1) 96%);
    background-blend-mode: multiply, multiply;
  display:flex;
}